<li>
  <article>
    <h1>{{ post.title }}</h1>
    <summary>
      {{ post.excerpt }}
    </summary>
    {% if post.album %}
    {% assign path = post.path | downcase | split: '/' %}
    {% assign lastIndex = path.size | minus: 1 %}
    {% assign path = path[lastIndex] | split: '.' %}
    {% assign name = path[0] %}
    <img id="{{ name }}"/>
    <script>console.log('executing {{name}}'); flickrThumbCover('{{ name }}');</script>
    {% endif %}
    <footer>
      <time><p>{{post.date | date:"%d-%m-%Y"}}</p></time>
      <p><a href="{{post.url}}">Далее</a></p>
    </footer>
    </footer>
  </article>
</li>
