<aside id="sidebar">
<section id="calendar">
<h1>Календарь</h1>
<script src="http://script.days.ru/calendar.php?advanced=1&dayicon=1"></script>
<p><strong><script>print_day(); print_week();print_holiday();</script></strong></p>
<p><em><script>print_post(); print_trapeza();</script></em></p>
<figure id="icon"><script>print_icon();</script></figure>
<p><script>print_saints();</script></p>
<p><script>print_chten();</script></p>
</section>
{% if ads.size > 0 %}
<section id="ads">
<h1>Объявления</h1>
<ul>
  {% for ad in ads %}
  {% include ad.html %}
  {% endfor %}
</ul>
</section>
{% endif %}
</aside>
