---
layout : default
title  : Катехизация
---
<script src="/assets/scripts/flickr.js"></script>

{% assign ads = site.data.catechesis.ads %}
{% include ads.html %}

<section id="plan">
  <h1>Программа курса</h1>
  <ol>
    <li>Общее введение к изучению Священного Писания Нового Завета. Обозрение Четвероевангелия. Зачем христианину нужно читать и изучать Евангелие? Богодухновенность Священного Писания.</li>
    <li>Предисловие к Евангелию. Превечное рождение Иисуса Христа. Родословие Иисуса Христа. Рождество и обрезание Иоанна Предтечи.</li>
    <li>Иосиф и Мария. Рождество Господа нашего Иисуса Христа. Обрезание Господне. Принесение во храм. Сретение Господне.</li>
    <li>Отрочество и частная жизнь Иисуса Христа до 30-летнего возраста. Явление Предтечи. Крещение Господне. Искушение в пустыне.</li>
    <li>Вступление Иисуса Христа в общественное служение. План деятельности Иисуса Христа в Его общественном служении. Явление Иисуса Христа народу. Первые ученики Его. Брак в Канне Галилейской и пребывание в Галилее.</li>
    <li>Изгнание торгующих из храма. Беседа с Никодимом. Свидетельство Иоанна Предтечи об Иисусе Христе. Беседа с самарянкой. Второе чудо в Галилее. Проповедь в Назарете.</li>
    <li>Пребывание в Капернауме и избрание четырех учеников. Исцеление Каперноумских больных, прокаженного и расслабленного. Призвание Матфея. Общий обзор событий первого года служения Иисуса Христа.</li>
    <li>Исцеление 38-летнего расслабленного. Путешествие Иисуса Христа с учениками. Избрание Апостолов. Нагорная проповедь.</li>
    <li>Чудеса в Капернауме и Наине. Исцеление раба сотника. Воскрешение сына Наинской вдовы. Посольство Иоанна Крестителя к Иисусу Христу, свидетельство Господне об Иоанне и обличение неверующих городов.</li>
    <li>Последователи Иисуса Христа. Путешествие Иисуса Христа по Галилее. Притчи Иисуса Христа о проповеди Евангельской. Иисус Христос в земле Гадаринской. Утишение бури на море. Исцеление бесноватых. Воскрешение дочери Иаира и исцеление кровоточивой жены.</li>
    <li>Исцеление слепых, бесноватого, немого и других больных в Галилее. Возвращение Иисуса Христа в Назарет. Отправление Апостолов на проповедь. Смерть Иоанна Крестителя. Насыщение пяти тысяч человек пятью хлебами. Хождение Иисуса Христа по водам и прибытие в землю Генисаретскую. Беседа Иисуса Христа о хлебе животном. Общий обзор событий 2-го года служения Иисуса Христа.</li>
    <li>Обличение фарисеев в предпочтении преданий старцев заповедям Божиим. Исцеление дочери Хананеянки. Исцеление глухого косноязычного и других больных. Насыщение 4000 человек семью хлебами.</li>
    <li>Отказ фарисеям в знамении с Неба. Исцеление слепого в Вифсаиде. Исповедание Петра и учение Иисуса Христа о Церкви. И о крестной смерти.</li>
    <li>Преображение Господне. Исцеление бесноватого. Подать на храм.</li>
    <li>Наставление Иисуса Христа ученикам. Путешествие Иисуса Христа на праздник кущей в Иерусалим. Посольство Семидесяти Апостолов. Иисус Христос на празднике кущей в Иерусалиме.</li>
    <li>Женщина-блудница, приведенная на суд к Иисусу Христу. Беседа Иисуса Христа у сокровищницы храма. Притча о милосердном Самарянине.</li>
    <li>Образец молитвы и учение о силе молитвы. Новые обличения фарисеев Иисусом Христом. Увещания к исповеданию истины, безкорыстию, бдительности и покаянию.</li>
    <li>Исцеление скорченной женщины. Исцеление слепорожденного. Беседа о добром пастыре.</li>
    <li>Последнее путешествие в Заиорданскую область. Иисус Христос на обеде у одного из начальников фарисейских. Притчи о спасении: о потерянных и найденных овце и драхме, о блудном сыне.</li>
    <li>Притча о неправедном управителе. Учение о браке и девстве. Притча о богаче и нищем Лазаре. Беседа Иисуса Христа о прощении обид, вере и исполнении заповедей. Исцеление десяти прокаженных.</li>
    <li>Беседа о пришествии Царствия Божия на Земле и явления Сына Человеческого. Притча о неправедном судии. Притча о мытаре и фарисее.</li>
    <li>Благословление детей. О пути в Царствие Божие. Притча о работниках и винограднике. Болезнь и смерть Лазаря. Воскрешение его и предсказание Иисусом Христом Своей смерти.</li>
    <li>Сыны Заведеевы и их просьба к Иисусу Христу. Пребывание в доме Закхея. Притча о десяти минах. Исцеление иерихонских слепцов. Воскрешение Лазаря. Заговор синедриона. Вечеря в доме Симона прокаженного.</li>
    <li>Вход в Иерусалим и очищение храма. Проклятие бесплодной смоковницы. Ответ Иисуса Христа первосвященникам и притчи к ним. Притча о браке Царского сына. Разрешение хитрых вопросов фарисеев, иродиан и прочих. Обличительная речь Иисуса Христа против фарисеев. О вдовице, положившей две лепты в сокровищницу храма.</li>
    <li>Беседа Иисуса Христа с учениками о судьбе Иерусалима и о последних днях Мира. Притчи о последнем Суде: а) Притча о десяти девах б). Притча о талантах в). Учение о Страшном Суде.Общий обзор событий от 3-й Пасхи до последних дней.</li>
    <li>Предательство Иуды. Тайная вечеря. Умовение ног. Открытие предателя. Установление Евхаристии.</li>
    <li>Прощальная беседа Иисуса Христа с учениками и первосвященническая молитва Его. Иисус Христос в саду Гефсиманском.</li>
    <li>Иисус Христос на суде первосвященников. Суд над Иисусом Христом у Пилата. Смерть Иуды. Распятие и смерть Иисуса Христа. Погребение Иисуса Христа. Стража у гроба.</li>
    <li>Сошествие Иисуса Христа во ад. Воскресение Иисуса Христа из мертвых. Распространение между иудеями ложной молвы о похищении тела Иисуса Христа.</li>
    <li>Явление Воскресшего Господа ученикам в первый день. Явление Воскресшего Господа в Галилее. Последнее явление Иисуса Христа ученикам и вознесение на Небо. Обзор последних дней жизни Иисуса Христа на Земле. Послесловие к Евангельской истории.</li>
  </ol>
</section>

{% assign posts = site.categories['catechesis'] %}
{% include news.html %}
