---
layout : default
title  : Катехизация
---
<script src="/assets/scripts/flickr.js"></script>

{% assign ads = site.data.catechesis.ads %}
{% include ads.html %}

<section id="plan">
  <h1>Программа курса</h1>
  <ol>
    <li>Христианское мировоззрение и его место в современном мире.</li>
    <li>Бытие. Мироздание. Сущность и теории возникновения. Православный взгляд.</li>
    <li>Истина и теория познания с православной точки зрения.</li>
    <li>Учение о нравственности. Этические теории. Православная нравственность.</li>
    <li>Учение о прекрасном. Православный взгляд на эстетику.</li>
    <li>Учение о ценностях. Иерархия ценностей в христианстве.</li>
    <li>Учение о человеке. Происхождение человека. Цель и смысл его жизни.</li>
    <li>Учение об обществе. Православная церковь и современное общество.</li>
    <li>Культура. Сущность и основные подходы. Место и роль православия в мировой культуре.</li>
    <li>Религия. Определение, виды. Православие и мировые религии.</li>
    <li>Наука и псевдонаучное познание. Православный взгляд.</li>
    <li>Проблемы современной цивилизации с позиции православного человека.</li>
  </ol>
</section>

{% assign posts = site.categories['catechesis'] %}
{% include news.html %}
