---
layout : default
---
<script src="/assets/scripts/flickr.js"></script>
<article id="post">
  <h1>{{ page.title }}</h1>
  {{ content }}
  {% if page.album %}
    {% assign path = post.path | downcase | split: '/' %}
    {% assign lastIndex = path.size | minus: 1 %}
    {% assign path = path[lastIndex] | split: '.' %}
    {% assign name = path[0] %}
    <section id="gallery">
      <section id="thumbnails"></section>
      <section id="images"></section>
    </section>
    <script>flickrGallery('{{name}}')</script>
  {% endif %}
</article>
