---
layout : default
title  : Молодежный клуб
---
{% assign ads = site.data.club.ads %}
{% include ads.html %}

{% assign posts = site.categories['club'] %}
{% include news.html %}

<section id="about">
<h1>О клубе</h1>
<p>
В храме устроен молодёжный клуб. Он занимается:
</p>
<ul>
<li>ознакомлением с православными святынями</li>
<li>организацией походов, паломнических поездок</li>
<li>организацией праздников, музыкальных вечеров</li>
<li>просмотром и обсуждением фильмов</li>
<li>организацией дискуссий на актуальные темы</li>
<li>организацией совместной трудовой деятельности</li>
</ul>
<p>
Мы приглашаем всех любящих путешествовать, интересующихся православной культурой, любящих с пользой и задором проводить свободное время. Участники клуба смогут найти близких по духу друзей, также смогут реализовать свои способности и заняться деятельным служением.
</p>
<p>
«Вконтакте» существует <a href="http://vk.com/club31320898">страница</a>, посвященная деятельности клуба.
</p>
</section>
