---
layout : default
title  : Воскресная школа
---
<script src="/assets/scripts/flickr.js"></script>

{% assign ads = site.data.school.ads %}
{% include ads.html %}

{% assign posts = site.categories['school'] %}
{% include news.html %}

{% if site.data.school.classes.size > 0 %}
<section id="classes">
{% for class in site.data.school.classes %}
  {% assign lessons = class.lessons %}
  {% assign students = class.students %}
  {% if lessons.size > 0 or students > 0 %}  
  <section>
    <h1>{{ class.title }}</h1>
  
  {% if lessons.size > 0 %}
  <article>
  <h1>Расписание</h1>
  <table>
  {% for lesson in lessons %}
    <tr>
      <td>{{lesson.from}}</td><td>{{lesson.to}}</td><td>{{lesson.title}}</td>
    </tr>
  {% endfor %}
  </table>
  </article>
  {% endif %}

  {% if students.size > 0 %}
  <article>
  <h1>Список учащихся</h1>
  <ul> 
  {% for student in students %}
    <li>{{ student.name }}</li>
  {% endfor %}
  </ul>
  </article>
  {% endif %}
  
  
  </section>
  {% endif %}
{% endfor %}
</section>
{% endif %}

<article id="about">
<h1>О школе</h1>
<p>
Наша детская воскресная школа имеет своей главной целью раскрыть перед учащимися существо православной веры таким образом, чтобы она воспринималась ими не как совокупность требований и запретов, а как система духовных ценностей, наполняющих жизнь смыслом и содержанием. Именно поэтому занятия в воскресной школе проводятся в форме беседы, или диалога. Возможность такого диалога определяется взаимным стремлением его участников к установлению истины, единством целей, способностью выслушать точку зрения собеседника, как бы она ни отличалась от своей собственной.
</p>
<p>
Занятия в нашей школе проводятся каждое воскресенье.
</p>
</article>